
@font-face {
  font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 400;
    src: local('"DM Sans'), local('"DM Sans'),
      url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2)
        format('woff2');
    font-display: swap;
}